
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lexend:wght@200&family=Outfit:wght@600&display=swap');

.background-container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
}
  
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
      linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
      linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
    background-size: 14px 24px;
    mask-image: radial-gradient(ellipse 80% 50% at 50% 0%, #000 70%, transparent 110%);
}
  


nav{
    position: fixed;
    top: 5.2%;
    right: 2.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}




nav > #enlaces{
    height: 30px;
    font-family: "Josefin Sans", monospace, sans-serif;
    font-size: 20px;
    display: flex;
    gap: 20px;
    
}




nav > #enlaces > a{
    text-decoration: none;

    display: none;
    margin: 0 10px;
    padding: 5px;
    color: #272121;
    border-right: 2px solid #E16428;
    transition: all ease 0.5s;
    opacity: 0;
    overflow: hidden;
    
}

nav > #enlaces > a:hover{
    color: #E16428;
    border-bottom: 2px solid #E16428;
    border-bottom-right-radius: 10px;
}



#burguer{
    cursor: pointer;
}

#burguer > path{
    transition:  0.5s ease;

}

#burguer:hover path {
    stroke: #E16428; 
    
}





main{
    margin: auto;
    width: 1144px;
}

article{
    height: 800px;
}




#Inicio > section{
    position: relative;
    top:30%;
    width: 800px;
    font-size: 25px;
    font-family: "Lexend", monospace, sans-serif;
    
}


#Inicio > section > h1{

    font-family: "Outfit", monospace, sans-serif;
    font-size: 75px;
    margin: 15px 0;

}
#SS{
    color: #E16428;

}




#DW{
    color: #E16428;
    transition: all 0.08s ease-out;
}

#DW:hover{
    border-bottom: 3px solid #E16428;
}


#link{
    width: 300px;
    
    display: flex;
    justify-content: space-around;
    
}

.iconoLink{
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.3s ease-out;

    &:hover{
        fill: #bc5424;
    }
}



#iconGmail{
    position: relative;
    z-index: 3;
}

#iconGmailC{
    
    position: relative;
    right: -8%;
    top: -32px;
    z-index: 1;
    background-color: #E16428;
    color: #fff;
    border-radius: 20px;
    width: 50px;
    font-size: 10px;
    text-align: center;
}
.iconGmailCA{
    animation: iconGmailCA 3s ease ;
}

@keyframes iconGmailCA {

    25%{
        transform: translateY(20px);
    }
    
    50%{
        
        transform: scale(2)  translateY(15px);
    }

    75%{
        transform: translateY(20px);
    }
}



