
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lexend:wght@200&family=Outfit:wght@600&display=swap');

body{
    background-color: #F6E9E9;
}


nav{
    position: fixed;
    top: 5%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav > #enlaces{
    height: 30px;
    font-family: "Josefin Sans", monospace, sans-serif;
    font-size: 20px;
    display: flex;
    gap: 20px;

}

nav > #enlaces > a{
    margin: 0 10px;
    padding: 5px;
    color: #272121;
    border-right: 2px solid #E16428;

}

nav > #enlaces > a:hover{
    color: #E16428;
    border-bottom: 2px solid #E16428;
    border-bottom-right-radius: 10px;
    transition: ease 0.5s ;
}

#burguer{
    cursor: pointer;
}

#burguer:hover path {
    stroke: #E16428; 
    transition: 0.5s ease;
    
}

a{
    text-decoration: none;
}



main{
    margin: auto;
    width: 1144px;
}

article{
    height: 800px;
}




#Inicio > section{
    position: relative;
    top:30%;
    width: 800px;
    font-size: 25px;
    font-family: "Lexend", monospace, sans-serif;
    
}


#Inicio > section > h1{

    font-family: "Outfit", monospace, sans-serif;
    font-size: 75px;
    margin: 15px 0;

}

#SS:hover{
    color: #E16428;
    transition: 0.5s ease ;
}


#DW{
    color: #E16428;
}

#DW:hover{
    border-bottom: 3px solid #E16428;
    transition: 0.08s ease-out;
}


#link{
    width: 300px;
    
    display: flex;
    justify-content: space-around;
    
}

.iconoLink{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.iconoLink:hover{
   fill: #E16428;
   transition: 0.2s ease-out;
}

#iconGmail{
    position: relative;
    z-index: 3;
}

#iconGmailC{
    
    position: relative;
    right: -10%;
    top: -32px;
    z-index: 1;
    background-color: #E16428;
    color: #fff;
    border-radius: 20px;
    width: 50px;
    font-size: 10px;
    text-align: center;
}
.iconGmailCA{
    animation: iconGmailCA 3s ease ;
}

@keyframes iconGmailCA {

    25%{
        transform: translateY(20px);
    }
    
    50%{
        
        transform: scale(2)  translateY(15px);
    }

    75%{
        transform: translateY(20px);
    }
}



