@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Outfit:wght@600&display=swap');


:root{
    --uno:#F5F5F5;
    --dos:#363333;
    --tres:#E16428 ;
    --cuatro:#FCECDD;
}


body {
    background-color: var(--uno);
    font-family:"Lexend", Arial, Helvetica, sans-serif;
    margin: 0;
}

h1,h2,h3,h4{
    font-family: "Outfit", monospace, sans-serif;

}



nav{
    position: fixed;
    top: 5.2%;
    right: 2.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--cuatro);
    border-radius: 10px;
    border-right: var(--dos) 2px solid;
    border-bottom: var(--dos) 2px solid;
    z-index: 10;
    animation: navA 0.8s cubic-bezier(.76,.13,.44,1.56);
    
}

@keyframes navA {
    from{
        right: -15%;
    }

}



nav > #enlaces{
    height: 30px;
    font-family: "Josefin Sans", monospace, sans-serif;
    font-size: 0px;
    display: flex;
    align-items: center;
    
}



nav > #enlaces > a{
    text-decoration: none;

    margin: 0 5px;
    padding: 5px;
    color: var(--dos);
    border-right: 2px solid var(--dos);
    transition: all linear 0.05s;
    opacity: 0;
    overflow: hidden;
    
}

nav > #enlaces > a:hover{
    color: var(--tres);
    border-right: 4px solid var(--tres);
    transform: scale(1.1);
}



#burguer{
    cursor: pointer;
}

#burguer > path{
    transition:  0.5s ease;
    stroke: var(--dos);

}

#burguer:hover path {
    stroke: var(--tres); 
    
}





main{
    margin: auto;
    width: 1144px;
    color: var(--dos);
}

article{
    position: relative;
    height: 900px;
    margin-bottom: 100px;
}

b{
    color: var(--tres);
}


#Inicio > section{
    position: relative;
    top:30%;
    width: 600px;
    font-size: 25px;
    font-family: "Lexend", monospace, sans-serif;
    background-color: var(--cuatro);
    border-bottom: var(--dos) 4px solid;
    border-right: var(--dos) 4px solid;
    border-radius: 50px;
    padding: 30px;
    animation: sectionIA 0.8s cubic-bezier(.2,.5,.62,1.38);

}

@keyframes sectionIA {
    from{
        top: -500px;
    }
}


#Inicio > section > h1{

    font-family: "Outfit", monospace, sans-serif;
    font-size: 75px;
    margin:  0;

}






#DW{
    color: var(--tres);
    transition: all 0.08s ease-out;

}

#DW:hover{
    border-bottom: 3px solid var(--tres);
}


#link{
    width: 300px;
    
    display: flex;
    justify-content: space-around;
    
}

.iconoLink{
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.4s linear;
    fill: var(--dos);

    &:hover{
        fill: var(--tres);

    }
}

#iconGmail{
    position: relative;
    z-index: 3;
}

#iconGmailC{
    
    position: relative;
    right: -8%;
    top: -32px;
    z-index: 1;
    background-color: var(--dos);
    color: var(--cuatro);
    border-radius: 20px;
    width: 50px;
    font-size: 10px;
    text-align: center;
}
.iconGmailCA{
    animation: iconGmailCA 3s ease ;
}

@keyframes iconGmailCA {

    25%{
        transform: translateY(20px);
    }
    
    50%{
        
        transform: scale(2)  translateY(15px);
    }

    75%{
        transform: translateY(20px);
    }
}


#SobreMi{
   position: relative;
   
}

#imgSS{
    float: right;
    width: 300px;
    border:10px dashed var(--tres);

    border-radius: 200px;
    shape-outside: circle(50%);
}

#Soy1{
    position: absolute;
    top: 13%;
}


#Soy1 > h2{
    font-size: 60px;
    margin: 5px 0;
}

#Soy1 > p{
    font-size: 24px;
}

#Soy2{
    position: absolute;
    top: 65%;
    text-align: center;
}

#Soy2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

#Soy2 > div{
    width: 500px;
    height: 240px;
    background-color: var(--cuatro);
    border-bottom: var(--tres) 3px dashed;
    border-right: var(--tres) 3px dashed;
    border-radius: 100px;
    padding: 20px;

}

#Soy2 > div > h3{
    margin: 0px 0;
    font-size: 30px;
    transition: all 0.4s linear;
}

#Soy2 > div > h3:hover{
    transform: scale(1.2);
    color: var(--tres);
}

#Soy2 > div > p{
    margin: 10px 0 20px 0;
    font-size: 20px;
}



#Edu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#estudios{
    height: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#estudios > div{
    width: 650px;
    padding: 15px;
    background-color: var(--cuatro);
    border: 3px solid var(--dos);
    border-radius: 30px;
}

#estudios > div > div:first-child{
    margin-bottom: 30px;
}

#estudios > div > div> h3{
    margin: 10px 0;
    font-size: 30px;
}

#estudios > div> div > p{

    font-size: 18px;
    margin: 0 0 18px 0;
}

.info{
    margin: 10px 0;
}

.info > span{
    border: 2px solid var(--tres);
    color: var(--tres);
    padding: 10px;    
    margin: 0 5px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.2s linear;
    
}

.info > span:hover{
    background-color: var(--uno);
}


#Familiares, #Conocer{
    text-align: center;
    position: absolute;
    background-color: #FCECDD;
    border: 3px solid var(--dos);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    right: 0;
}

#Familiares{
    top: 22.5%;
    
}

#Conocer{
    top: 65%;
    
}

#Familiares > h3{
    font-size: 30px;
    margin: 10px 0;
}

#Conocer > h3{
    font-size: 30px;
    margin: 10px 0;
}


#Familiares > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#Conocer > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.iconsvg{
    transition: 0.3s linear;
}

.iconsvg:hover{
    transform: scale(1.3);
}
